#friendOrganizer {
    display: flex;
    padding: 5px;
    margin-left: 8px;
}
#Friends {
    flex: 1 1 30%;
}
#Status {
    flex: 1 1 60%;
}

#linkOrganizer {
    display: flex;
}
#friend-request {
    flex: 1 1 90%;
}
#findFriends {
    flex: 1 1 20%;
    text-decoration: underline;
}