@font-face {
    font-family: 'Brush';
    src: url('public/CaveatBrush-Regular.ttf');
}

/*header styles*/
Header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: #6A3E2E;
    font-family: 'Brush';
}
#Logo {
    flex: 1 1 70%;
    font-family: 'Brush';
    font-weight: 400;
    font-size: 40px;
    margin: 22px;
    color: lightyellow;
}
#Menu {
    flex: 1 1 10%;
    font-size: 20px;
    padding-top: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: lightyellow;
}
#menuLink {
    color: lightyellow;
}
#User {
    flex: 1 1 10%;
    font-size: 20px;
    padding-top: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: lightyellow;
}
/*body styles*/
.bodyDisplay {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    background-color: #E8DCC2;
}
Main {
    flex: 1;
}
#fileHeaders {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 700;
    margin: 15px;
    color: black;
}
#fileLink {
    color: black;
}

.popupBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupStyle {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    min-width: 250px;
}

/*footer styles*/
Footer{
    flex: 0 50px;
    width: 100vw;
    background-color: #6A3E2E;
    text-align: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}
#myName {
    padding-top: 15px;
    color: lightyellow;
}
#gitHub {
    color: lightyellow;
    padding-bottom: 15px;
}