/*Body styles*/
#Organizer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;

}
#mainOrganizer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: whitesmoke;
}
#headInfo {
    justify-content: center;
    text-align: center;
    padding-top: 15px;
    padding-left: 15px;
}
#imageBox{
    display: flex;
    width: 250px;
    height: 350px;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border: solid;
    border-color: black;
}
#mainInfo {
    padding-top: 15px;
}
#nameBox {
    width: 150px;
    height: 50px;
    background-color: lightgray;
    border: solid;
    display: flex;
    align-items: center;
}
#nameTextBox {
    flex: 1;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

#additionalInfo {
    padding-left: 15px;
}
.textAreaInfo {
    width: 100%;
}