/*header styles*/
#Header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: lightyellow;
}
#Logo {
    flex: 1 1 70%;
}
#Friends {
    flex: 1 1 15%;
    font-size: 18px;
    padding-top: 24px;
}
#User {
    flex: 1 1 15%;
    font-size: 18px;
    padding-top: 24px;
}

/*Body styles*/
#Organizer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
    justify-content: center;

}
#headInfo {
    background-color: green;
}
#mainInfo {
    background-color: blue;
}
#additionalInfo {
    background-color: purple;
}