/*header styles*/
#Header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100 vh;
    background-color: blue;
}
#Logo {
    flex: 1 1 70%
}
#Friends {
    flex: 1 1 15%
}
#User {
    flex: 1 1 15%
}