/*header styles*/
#Header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: lightyellow;
}
#Logo {
    flex: 1 1 70%;
}
#Friends {
    flex: 1 1 15%;
    font-size: 18px;
    padding-top: 24px;
}
#User {
    flex: 1 1 15%;
    font-size: 18px;
    padding-top: 24px;
}

/*Body styles*/
#Organizer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    grid-gap: 50px;

}