/*Body styles*/
#Organizer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;

}
#mainOrganizer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: lightgoldenrodyellow;
}
#headInfo {
    justify-content: center;
    text-align: center;
}
#imageBox{
    display: flex;
    width: 250px;
    height: 350px;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border: solid;
    border-color: black;
}
/*#mainInfo {
    background-color: lightblue;
}*/
#nameBox {
    width: 150px;
    height: 50px;
    background-color: silver;
    border: solid;
}
#additionalInfo {
    background-color: whitesmoke;
}