/*header styles*/
#Header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: lightyellow;
}
#Logo {
    flex: 1 1 80%;
}
#Friends {
    flex: 1 1 10%;
    font-size: 18px;
    padding-top: 24px;
}
#User {
    flex: 1 1 10%;
    font-size: 18px;
    padding-top: 24px;
}

/*Body styles*/
#Organizer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;

}
#mainOrganizer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: lightblue;
}
#headInfo {
    justify-content: center;
    text-align: center;
}
#imageBox{
    display: flex;
    width: 250px;
    height: 350px;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}
/*#mainInfo {
    background-color: lightblue;
}*/
#additionalInfo {
    background-color: whitesmoke;
}

/*footer styles*/
Footer{
    width: 100vw;
    background-color: lightyellow;
    text-align: center;
    justify-content: center;
}
#myName {
    padding-top: 18px;
}
#gitHub {
    color: black;
}