/*header styles*/
Header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: lightyellow;
}
#Logo {
    flex: 1 1 70%;
}
#Friends {
    flex: 1 1 15%;
    font-size: 18px;
    padding-top: 24px;
}
#User {
    flex: 1 1 15%;
    font-size: 18px;
    padding-top: 24px;
}

/*Body styles*/
#Organizer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;

}
#mainOrganizer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: lightblue;
}
#headInfo {
    justify-content: center;
    text-align: center;
}
/*#mainInfo {
    background-color: lightblue;
}*/
#additionalInfo {
    background-color: whitesmoke;
}

/*footer styles*/
Footer{
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: lightyellow;
}