html {
    background-color: whitesmoke;
}
/*header styles*/
Header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: khaki;
}
#Logo {
    flex: 1 1 80%;
}
#Menu {
    flex: 1 1 10%;
    font-size: 18px;
    padding-top: 24px;
}
#User {
    flex: 1 1 10%;
    font-size: 18px;
    padding-top: 24px;
}
/*body styles*/
Body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
Main {
    flex: 1;
}

/*footer styles*/
Footer{
    width: 100vw;
    background-color: khaki;
    text-align: center;
    justify-content: center;
}
#myName {
    padding-top: 15px;
}
#gitHub {
    color: black;
    padding-bottom: 15px;
}