@font-face {
    font-family: 'Brush';
    src: url('../CaveatBrush-Regular.ttf');
}

/*header styles*/
Header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: darkred;
    font-family: 'Brush';
}
#Logo {
    flex: 1 1 80%;
    font-family: 'Brush';
    font-weight: 400;
    font-size: 40px;
    margin: 22px;
    color: lightyellow;
}
#Menu {
    flex: 1 1 10%;
    font-size: 18px;
    padding-top: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: lightyellow;
}
#User {
    flex: 1 1 10%;
    font-size: 18px;
    padding-top: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: lightyellow;
}
/*body styles*/
Body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    background-color: whitesmoke;
}
Main {
    flex: 1;
}
#fileHeaders {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 700;
    margin: 15px;
    color: black;
}
#fileLink {
    color: black;
}

/*footer styles*/
Footer{
    width: 100vw;
    background-color: darkred;
    text-align: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}
#myName {
    padding-top: 15px;
}
#gitHub {
    color: lightyellow;
    padding-bottom: 15px;
}